spring:
  profiles:
    active: mysql

---
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/~/jpashop
      username: sa
      password:
      driver-class-name: org.h2.Driver
  batch:
    jdbc:
      initialize-schema: embedded
---
spring:
  main:
    allow-bean-definition-overriding: true

  config:
    activate:
      on-profile: mysql
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://min-and-wise.czrx92xp9fx8.ap-northeast-2.rds.amazonaws.com:3306/junho
      username: hecto
      password: mr8nCwEj7N4GDBvAbcgI
      driver-class-name: com.mysql.cj.jdbc.Driver
  batch:
    job:
      names: ${job.name:NONE}
    #      enabled: false
#    jdbc:
#      initialize-schema: always
  #      table-prefix: SYSTEM_


  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        # show_sql: true
        format_sql: true
    logging.level:
      org.hibernate.SQL: debug
      org.hibernate.type: trace